body .__form__body {
  margin-top: 51px;
}

.__form__body {
  padding: 80px 130px;
  background-color: #fdfbf7;
  max-width: 1196px;
  margin: 0 auto;
  position: relative;
}

.__select {
  font-size: 32px;
  font-weight: 700;
  margin-top: 40px;
  text-align: center;
}

.__options {
  background-color: #23322c;
  padding: 20px 56px;
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  text-align: center;
  cursor: pointer;
}

.__select__options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-top: 32px;
}

.__arrowIcon {
  position: absolute;
  top: -20%;
  left: 5%;
}

.__options.selected {
  background-color: #fdfbf7;
  color: #23322c;
  border: 1px solid #23322c;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
