.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 33px 240px;
  background-color: #fdfbf7;
}

.logo {
  max-width: 100%;
}

.line {
  background-color: #38553c;
  height: 14px;
  width: 100%;
}
