@font-face {
  font-family: "Cera Pro Regular";
  src: local("Cera Pro Regular"),
    url("./fonts/Cera\ Pro\ Medium.otf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Cera Pro Thin";
  src: local("Cera Pro Thin"),
    url("./fonts/Cera\ Pro\ Light.otf") format("truetype");
  font-weight: thin;
}

body {
  margin: 0;
}
