body {
  margin: 0;
  font-family: "Cera Pro";
}

@font-face {
  font-family: "Cera Pro";
  src: local("Cera Pro"),
    url("../src/fonts/Fontspring-DEMO-cerapro-regular.otf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Cera Pro Thin";
  src: local("Cera Pro Thin"),
    url("../src/fonts/Fontspring-DEMO-cerapro-thin.otf") format("truetype");
  font-weight: thin;
}
